body {
    background-color: rgb(212, 168, 175);
    color: #fefee6;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    
}

h1 span{
    text-decoration: underline;
}

fieldset{
    border-radius: 10px;
    border: 4px solid #fefee6;
    background-color: #0A5F77;
}

legend{
    background-color: #084353 ;
    padding: 3px 6px;
    border-radius: 5px;
}

input{
    margin: .5rem;
    
}